#button-primary{
    color: #1f8af5;
}

#button-danger{
    color: #f45a5a;
}

/* 按钮样式 */
#button-success{
    color: #67C23A;
}

#button-warning{
    color: #E6A23C;
}

#button-info{
    color: #909399;
}

#button-black{
    color: #595959;
}


