String content = "<html>\n" +
                    "<head>\n" +
                    "    <style>\n" +
                    "        /* Set background color */\n" +
                    "        body {\n" +
                    "            background-color: #f2f2f2;\n" +
                    "        }\n" +
                    "\n" +
                    "        /* Add background image */\n" +
                    "        /* .background-image {\n" +
                    "            background-image: url('https://example.com/background-image.jpg');\n" +
                    "            background-repeat: no-repeat;\n" +
                    "            background-position: center;\n" +
                    "            background-size: cover;\n" +
                    "            opacity: 0.7;\n" +
                    "            position: absolute;\n" +
                    "            top: 0;\n" +
                    "            left: 0;\n" +
                    "            width: 100%;\n" +
                    "            height: 100%;\n" +
                    "            z-index: -1;\n" +
                    "        } */\n" +
                    "\n" +
                    "        /* Style for the content */\n" +
                    "        h1 {\n" +
                    "            color: #0b0e67;\n" +
                    "            text-align: center;\n" +
                    "            margin-top: 50px;\n" +
                    "        }\n" +
                    "\n" +
                    "        p {\n" +
                    "            font-size: 16px;\n" +
                    "            line-height: 1.5;\n" +
                    "            text-align: justify;\n" +
                    "            margin: 20px auto;\n" +
                    "            max-width: 700px;\n" +
                    "        }\n" +
                    "    </style>\n" +
                    "</head>\n" +
                    "<body>\n" +
                    "    <!-- Add a background image div -->\n" +
                    "    <div class=\"background-image\"></div>\n" +
                    "    <h1>门店休息通知</h1>\n" +
                    "    <div style=\"display: flex;justify-content: center;\">\n" +
                    "        <div>\n" +
                    "            <p>尊敬的员工们：</p>\n" +
                    "            <p>&emsp;&emsp;您好！明天我们门店将休息一天，为了让大家更好地调整状态和享受生活，我们特此通知您好好休息，做自己喜欢做的事情，放松心情，愉快度过这个美好的假期。</p>\n" +
                    "            <p style=\"text-align: right;\">祝好！</p>\n" +
                    "            <p style=\"text-align: right;\">"+store.getName()+"</p>\n" +
                    "        </div>\n" +
                    "    </div>\n" +
                    "</body>\n" +
                    "</html>\n";
